.character-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  transition: .15s ease-out;

  > .message {
    background-color: white;
    border: 2px solid black;
    border-radius: 2px;
    font-size: 1.6rem;
    line-height: 1.2;
    padding: 8px 10px;
    position: absolute;
    transform: translateY(-130%);
    max-width: 220px;
    word-wrap: break-word;
    width: max-content;
    z-index: 100;
  }

  > .sprite {
    background-image: url("../images/character.png");
    background-position: -48px 0px;
    height: 48px;
    width: 48px;

    &[data-direction="left"] {
      background-position: -48px -48px;
    }

    &[data-direction="right"] {
      background-position: -48px -96px;
    }

    &[data-direction="up"] {
      background-position: -48px -144px;
    }

    &[data-direction="down"] {
      background-position: -48px 0px;
    }

    &[data-walking="true"] {
      animation: walking .8s steps(1) infinite;
    }
  }
}

@keyframes walking {
  0% {
    background-position-x: -96px;

  }

  25% {
    background-position-x: -48px;
  }

  50% {
    background-position-x: 0px;
  }

  75% {
    background-position-x: -48px;
  }

  100% {
    background-position-x: -96px;
  }
}