.message-area {
  align-items: flex-end;
  background-color : #0033cc;
  background : linear-gradient(#3366ff, #0033cc, #000066);
  bottom: 0;
  box-shadow :
    3px 3px 5px rgba(51, 51, 51, 0.7) inset,
    0 0 2px 3px #666666,
    0 0 0   6px #ffffff,
    0 0 2px 8px #666666;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  position: absolute;
  width: 960px;

  > .message {
    // background: white;
    // border: 2px solid black;
    box-shadow :
      3px 3px 5px rgba(51, 51, 51, 0.7) inset,
      0 0 2px 3px #666666,
      0 0 0   6px #ffffff,
      0 0 2px 8px #666666;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    font-size: 1.6rem;
    margin-right: 20px;
    max-height: 80px;
    min-height: 30px;
    overflow: scroll;
    padding: 8px 10px;
    width: 100%;
  }

  > .submit {
    background: rgb(41, 165, 89);
    border: 0;
    border-radius: 4px;
    color: white;
    font-size: 1.6rem;
    height: 40px;
    width: 100px;
  }
}