.move-area {
  background: #e0f2f1;
  height: 100vh;
  position: relative;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc), linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc);
  background-position: 0 0, 48px 48px;
  background-size: 96px 96px;
}