.town-tiles {
  position: absolute;

  > .column {
    display: flex;
  }

  > .column > .tile {
    background-image: url("../images/field.png");
    background-size: 1600%;
    height: 48px;
    overflow: hidden;
    width: 48px;

    // grass
    &.-grass_a {
      @include sprite(0, 0);
    }

    // &.-grass_b {
    //   @include sprite(1, 1);
    // }

    // &.-grass_c {
    //   @include sprite(0, 8);
    // }

    // &.-grass_d {
    //   @include sprite(6, 1);
    // }


    // sand
    &.-sand_a {
      @include sprite(7, 10);
    }

    &.-sand_b {
      @include sprite(2, 1);
    }

    &.-sand_c {
      @include sprite(3, 0);
    }

    &.-sand_d {
      @include sprite(3, 1);
    }

    &.-sand_e {
      @include sprite(7, 0);
    }

    &.-sand_f {
      @include sprite(7, 1);
    }

    // road {
    &.-road_a {
      @include sprite(7, 1);
    }

    &.-road_b {
      @include sprite(7, 5);
    }

    &.-road_c {
      @include sprite(8, 5);
    }

    &.-road_d {
      @include sprite(6, 6);
    }

    &.-road_e {
      @include sprite(7, 6);
    }

    &.-road_f {
      @include sprite(8, 6);
    }

    &.-road_g {
      @include sprite(6, 7);
    }

    &.-road_h {
      @include sprite(7, 7);
    }

    &.-road_i {
      @include sprite(8, 7);
    }

  }
}