.opening-page {
  align-items: center;
  background-color : #0033cc;
  background : linear-gradient(#3366ff, #0033cc, #000066);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 40px 0;

  > .heading {
    color: #fff;
    font-size: 3.4rem;
    font-weight: bold;
    margin-bottom: 50px;
  }

  > .decide {
    box-shadow :
      3px 3px 5px rgba(51, 51, 51, 0.7) inset,
      0 0 2px 3px #666666,
      0 0 0   6px #ffffff,
      0 0 2px 8px #666666;
    border-radius: 4px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 18px 30px;
    text-shadow : 2px 2px 2px rgba(51, 51, 51, 0.8);
  }
}